body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #002b36;
  color: #AAAAAA
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.quantity {
  width: 260px;
  padding-left: 10px;
  font-size: 15px;
  border-radius: 5px;
  margin-bottom: 10px;
}

.ListedItem {

    align-content: space-around;
}

.ListedDetails {
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

.button {
  margin-top: 50px;
  margin-bottom: 50px;
}

#ListShow {
  background-color: #AAAAAA;
  color: #282C34;
  font-size: 20px;
  min-width: 40vw;
  min-height: 20vh;
  max-width: 50vw;
  text-align: justify;
  margin-left: auto;
  margin-right: auto;
  padding: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 20px;
}

#ShopList {
  background-color: #AAAAAA;
  color: #282C34;
  font-size: 20px;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  overflow: auto;
  width: 250px;
  text-align: justify;
  padding: 20px;
  padding-top: 10px;
  padding-bottom: 20px;
}

.viewer {
  margin-left: auto;
  margin-right: auto;
}
#screen {
  display: flex;
  align-content: space-between;
}

.generate {
  color: #282C34;
  background-color: #FFFFFF;
  border-radius: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.marginBottom {
  margin-bottom: 100px;
}
